<div class="container my-5">
  <h2 class="text-center" style="color: #e74c3c;">Notre Menu</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Description</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Margherita</td>
        <td>Pizza classique avec sauce tomate, mozzarella et basilic</td>
        <td>12.00 €</td>
      </tr>
      <tr>
        <td>Pepperoni</td>
        <td>Pizza avec sauce tomate, mozzarella et pepperoni</td>
        <td>14.00 €</td>
      </tr>
      <tr>
        <td>Quattro Formaggi</td>
        <td>Pizza avec un mélange de quatre fromages</td>
        <td>15.00 €</td>
      </tr>
      <tr>
        <td>Vin Rouge</td>
        <td>Vin rouge italien</td>
        <td>8.00 €</td>
      </tr>
      <tr>
        <td>Soda</td>
        <td>Boisson gazeuse</td>
        <td>2.50 €</td>
      </tr>
    </tbody>
  </table>
</div>
