<section>
    <h1>Notre carte</h1>
    <table>
      <tr>
        <th>Produit</th>
        <th>Composition</th>
        <th>Prix</th>
      </tr>
      <tr>
        <td>Pizza Margherita</td>
        <td>Base tomate, Mozzarella, Basilic</td>
        <td>8€</td>
      </tr>
      <tr>
        <td>Pizza Reine</td>
        <td>Base tomate, Mozzarella, Jambon, Champignons</td>
        <td>10€</td>
      </tr>
      <tr>
        <td>Pizza 4 Fromages</td>
        <td>Base tomate, Mozzarella, Emmental, Bleu, Chèvre</td>
        <td>12€</td>
      </tr>
      <tr>
        <td>Vin rouge</td>
        <td>Bouteille 75cl</td>
        <td>15€</td>
      </tr>
      <tr>
        <td>Soda</td>
        <td>Canette 33cl</td>
        <td>2€</td>
      </tr>
      <tr>
        <td>Eau</td>
        <td>Bouteille 50cl</td>
        <td>1.5€</td>
      </tr>
    </table>
  </section>
  