body {
  background-color: #c8e6c9 !important;
  color: #333; 
}

.navbar, .footer {
  background-color: #e74c3c;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

a[href^="tel:"] {
  color: #e74c3c; 
  text-decoration: none; 
}

a[href^="tel:"]:hover {
  text-decoration: underline; 
}
